<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <title>{% if page.title != site.ignore_page_title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="description" content="{{ site.description }}" />
    <meta name="viewport" content="width=device-width">
    
    <link rel="icon" href="/favicon.gif">
    <link rel="shortcut icon" href="/favicon.gif">

    <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Merriweather:400,700' rel='stylesheet' type='text/css'>
    <!-- build:css({app,.tmp}) /css/main.css -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->
    
    <script>
      function testmap() {
        var obj = document.getElementsByTagName('object')[1];
        var svg = obj.contentDocument.getElementsByTagName('svg')[0];
        svg.setAttribute("viewBox", "500 325 950 550");
        
        //svg.setAttribute("viewBox", "500 325 1000 500");
      }
    </script>
  </head>
  
  <body>

    <header class="Header">

      <span href="/" class="Header-blockIU BlockIU BlockIU--stackIcon BlockIU--stackIcon--plate BlockIU--whiteCrimson BlockIU--shadow" aria-hidden="true"></span>

      <div class="Header-brand">
        <h1><a href="/">Process Experience Architecture Group</a></h1>
        <p>
          <a href="http://uits.iu.edu" title="University Information Technology Services">UITS</a>
          &bull;
          <a href="http://www.iu.edu">Indiana University</a>
        </p>
      </div>
      
      <nav class="Header-nav">
        {% for p in site.pages %}
          <a href="{{ p.url }}"{% if p.url == page.url %}class="is-active"{% endif %}>{{ p.title }}</a>
        {% endfor %}
      </nav>

    </header>

    <section{% if page.class %} class="{{ page.class }}"{% endif %}>
      {{ content }}
    </section>
    
    <footer class="Footer">

      <a href="http://www.iu.edu/" title="Indiana University" class="BlockIU-icon BlockIU-icon--2x Footer-blockIU">IU</a>

      <span class="Footer-copyright"><a href="http://www.iu.edu/comments/copyright.shtml">Copyright</a> &copy; {{ site.time | date: '%Y' }} The Trustees of <a href="http://www.iu.edu/">Indiana University</a> &bull; <a href="http://www.iu.edu/comments/complaint.shtml">Copyright Complaints</a></span>

    </footer>
    
    <!-- build:js(app) /js/scripts.js -->
    <script src="/js/main.js"></script>
    <!-- endbuild -->
  </body>
</html>