$ns: 'Contact';

.#{$ns} {
}

.#{$ns}-method {
  @include border-radius;
  @include text-shadow;
  display: block;
  text-align: center;
  line-height: 2;
  padding: 0 rhythm(0.5, $r);
  text-decoration: none;

  @include breakpoint-at(33em) {
    display: inline-block;

    & + .#{$ns}-method {
      margin-left: 0.5em;
      margin-top: 0;
    }
  }

  &:hover {
    text-decoration: none;
  }

  & + .#{$ns}-method {
    margin-top: 0.5em;
  }
}

.#{$ns}-method--email {

  &:link, &:visited {
    background-color: $cream;
    color: darken($cream, 50%);
}
  
  &:hover {
    background-color: darken($cream, 5%);
  }
}

.#{$ns}-method--tel {

  &:link, &:visited {
    background-color: lighten($violet, 40%);
    color: $violet;
  }
  
  &:hover {
    background-color: lighten($violet, 35%);
  }
}

.#{$ns}-method--twitter {
  $color: #00ACED;

  &:link, &:visited {
    background-color: lighten($color, 45%);
    color: $color;
  }
  
  &:before {
    content: '@';
    color: lighten($color, 20%);
  }
  
  &:hover {
    background-color: lighten($color, 40%);
  }
}

.#{$ns}-method--map {
  $color: darken(#78c14d, 5%);
  
  &:link, &:visited {
    background-color: lighten($color, 38%);
    color: $color;
  }

  &:hover {
    background-color: lighten($color, 32%);
  }
}