$ns: 'Footer';

.#{$ns} {
  border-top: 1px solid $border-color;
  margin-top: rhythm(1, $r);
  padding: rhythm(0.5, $r) 0;
  position: relative;
  text-align: center;

  @include breakpoint-at(43em) {
    margin-top: rhythm(2, $r);
    padding-left: $w - $width;
    text-align: left;
  }

  > * {
    vertical-align: middle;
  }

  a {
    white-space: nowrap;
  }
}

.#{$ns}-blockIU {
  color: $crimson;
  
  &:hover {
    background-color: $crimson;
    color: #fff;
    text-decoration: none;
  }
}

.#{$ns}-copyright {
  @include adjust-font-size-to($s);
  display: block;

  @include breakpoint-at(36em) {
    display: inline;
  }
}