$ns: 'Header';

.#{$ns} {
}

.#{$ns}-brand {
  background-color: #222;
  box-sizing: border-box;
  color: #FFF;
  padding: 1em 1em 1em 3em;

  @include breakpoint-at(43em) {
    min-height: $h / 5 * 3;
    padding: ($h / 5 + 3) 0 0 $w;
  }

  > h1 {
    @include adjust-font-size-to($l);
    font-weight: 400;
    line-height: 1;
    padding-bottom: 12px;
    margin: 0;

    > a {
      color: #fff;
    }
  }

  > p {
    @extend %sans-serif;
    @include adjust-font-size-to($s);
    font-weight: normal;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.25em;

    > a {
      color: $lightgray;
    }
  }
}

.#{$ns}-blockIU {
  display: block;
  font-size: 30px * 2;
  top: 0.2em;

  @include breakpoint-at(43em) {
    font-size: 30px * 6;
    top: 0;
  }
}

.#{$ns}-nav {
  @extend %grid;
  box-shadow: 0 -1px #000, 0 1px #000;
  background-color: $crimson;
  text-align: center;

  > a {
    @extend %grid-item;
    @include adjust-font-size-to($r, 2);
    border-right: 1px solid #000;
    box-shadow: inset 0 0 0 1px lighten($crimson, 5%);
    color: #fff;
    display: inline-block;
    line-height: $h / 5 + $scale * 2;
    padding: 0 0.5em;
    text-decoration: none;

    &:first-child {
      border-left: 1px solid #000;
    }

    &:hover {
      background-color: lighten($crimson, 5%);
      text-decoration: none;
    }

    &:active {
      background-color: lighten($crimson, 10%);
    }

    &.is-active {
      background-color: darken($crimson, 5%);
      box-shadow: none;
    }
  }
  
  @include breakpoint-at(43em) {
    padding-left: $w;
    text-align: left;

    > a {
      padding: 0 1em;
    }
  }
}