$ns: 'Header';

.#{$ns} {
}

.#{$ns}-brand {
  background-color: #222;
  box-sizing: border-box;
  color: #FFF;
  padding: 1em 1em 1em 3em;

  @include breakpoint-at(43em) {
    min-height: $h / 5 * 3;
    padding: ($h / 5 + 3) 0 0 $w;
  }

  > h1 {
    @include adjust-font-size-to($l);
    font-weight: 400;
    line-height: 1;
    padding-bottom: 12px;
    margin: 0;

    > a {
      color: #fff;
    }
  }

  > p {
    @extend %sans-serif;
    @include adjust-font-size-to($s);
    font-weight: normal;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.25em;

    > a {
      color: $lightgray;
    }
  }
}

.#{$ns}-blockIU {
  display: block;
  font-size: 30px * 2;
  top: 0.2em;

  @include breakpoint-at(43em) {
    font-size: 30px * 6;
    top: 0;
  }
}