h1, h2, h3 {
  @extend %sans-serif;
}

h1 {
  @include adjust-font-size-to($xl, 1);
  @include rhythm(1, 0, 0, 1, $xl);
  font-weight: normal;
}

h2 {
  @include adjust-font-size-to($l, 1);
  @include rhythm(0.5, 0, 0, 0.5, $l);
  font-weight: bold;

  > .subtitle {
    @include adjust-font-size-to($m, 1, $l);
    display: block;
    font-weight: normal;
  }
}

h3 {
  @include adjust-font-size-to($m, 1);
  @include rhythm(1, 0, 0, 0.5, $m);
  font-weight: bold;
}

:not(h1) + h2 {
  @include padding-leader(1, $l);
  border-top: 1px solid $border-color;

  @include breakpoint-at(43em) {
    @include padding-leader(2, $l);
  }
}

.Headings-lead {
  @extend %serif;
  @include adjust-font-size-to($m, 1.25);
  @include rhythm(1, 0, 0, 0.5, $m);
}

@include breakpoint-at(43em) {

  h1 {
    @include rhythm(2, 0, 0, 1.5, $xl);
  }

  h2 {
    @include leader(1, $l);
  }

  .Headings-lead {
    @include leader(2, $m);
  }
}