a {
  color: $crimson;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

section a {
  text-decoration: underline;

  &:visited {
    color: tint($crimson, 30%);
  }

  &:hover {
    color: inherit;
  }
}